/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

header .logo {
    width: 150px;
    display: block;
    margin: 0 auto 1em;
}

h1 {
    font-size: 2.5em;
    margin: 0.5em 0;
}

p {
    font-size: 1.2em;
    margin: 0.5em 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

main {
    padding: 2em;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin: 1em 0;
    color: #222;
}

/* Galería de Modelos */
.models-gallery {
    margin-top: 2em;
}

.models-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.model {
    margin: 1em;
    text-align: center;
    max-width: 300px;
}

.model img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.model img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.model h3 {
    margin-top: 0.5em;
    font-size: 1.4em;
    color: #444;
}

.model a {
    text-decoration:none;
}

/* Sección de Prototipos */
.prototypes {
    margin-top: 50px;
    background-color: #f1f1f1;
    padding: 40px 0;
    text-align: center;
}

.prototype-container {
    display: flex;
    justify-content: center;
}

.prototype {
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.prototype img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.prototype h3 {
    font-size: 1.8em;
    color: #333;
}

.prototype ul {
    margin: 10px 0;
    padding-left: 20px;
}

.prototype ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* Estilos para Footer */
footer {
    margin-top: 2em;
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

footer p {
    margin: 0;
    font-size: 1em;
}